/* Dark | Black */
/* Red */
/* Timing */
body {
  background-color: #130000;
  margin: 0;
  font-size: 14px; }

img {
  height: auto;
  max-width: 100%; }

.lock-scroll {
  height: 100%;
  overflow: hidden; }

.seperator {
  height: 2px;
  background-color: #d91b1b;
  position: relative;
  width: 30px; }

@media (min-width: 320px) and (max-width: 767px) {
  .hide-on-phone {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important; } }

@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none !important; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: 'Roboto Condensed', condensed;
  font-weight: 700;
  text-transform: uppercase; }

p,
a,
span,
button {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 300; }

.t-invert {
  color: #131313; }

.nomargin {
  margin: 0; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  width: 780px; }

.section {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px; }
  @media (min-width: 1024px) {
    .section {
      padding: 0; } }
  .section--margin {
    margin-top: 15em; }
  .section__title {
    display: inline-block;
    font-size: 2em;
    margin: 0 0 0.7em;
    position: relative;
    z-index: 1; }
    @media (min-width: 1024px) {
      .section__title {
        font-size: 3em;
        margin: 0 0 1.5em 0; } }
    .section__title:after {
      top: -0.35em;
      left: -2%;
      background-color: #a31414;
      content: ' ';
      display: block;
      height: 10px;
      position: relative;
      width: 100%;
      z-index: -1; }
  .section__lead {
    font-weight: 500; }
  .section__text {
    line-height: 1.618em; }
    .section__text--regular-line-height {
      line-height: 1.2em; }

.fadein__content.fadein__img {
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1); }

.fadein__content.fadein__text {
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); }

.fadein__content.fadein__video {
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); }

.fadein__content--inactive.fadein__img {
  width: 0%; }

.fadein__content--inactive.fadein__text {
  opacity: 0; }

.fadein__content--inactive.fadein__video {
  opacity: 0; }

.fadein__content--active.fadein__img {
  width: 100%; }

.fadein__content--active.fadein__text {
  opacity: 1; }

.fadein__content--active.fadein__video {
  opacity: 1; }

.section--atf {
  top: 49px;
  background-position: center;
  background-size: cover;
  padding-top: 44.3%;
  position: relative; }
  @media (min-width: 1024px) {
    .section--atf {
      top: 0;
      padding-top: 0;
      height: 600px;
      height: 90vh; } }

.atf__text-wrapper {
  margin-top: -1.25em;
  position: absolute; }
  @media (min-width: 1024px) {
    .atf__text-wrapper {
      margin-top: 230px;
      margin-top: 35vh;
      position: absolute; } }

.atf__title {
  font-size: 2.5em;
  position: relative; }
  @media (min-width: 1024px) {
    .atf__title {
      left: -2rem;
      background-color: #d91b1b;
      display: inline;
      font-size: 6em;
      line-height: 6rem;
      padding: 0 2rem; } }

.atf__text {
  font-size: 1.1em;
  margin: 0.5em 0; }
  @media (min-width: 1024px) {
    .atf__text {
      width: 470px; } }

.miol-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; }
  @media (min-width: 1024px) {
    .miol-grid {
      grid-gap: 6rem 16px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, auto); } }

.miol-video {
  grid-column: 1 / span 2; }
  .miol-video__heading {
    margin-bottom: 1em; }
  .miol-video__wrapper {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .miol-video__wrapper--1x1 {
      padding-top: 100%; }
    .miol-video__wrapper--16x9 {
      padding-top: 56.25%; }
  .miol-video__iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .miol-video--right-aligned {
    grid-column: 1 / span 2; }
    @media (min-width: 1024px) {
      .miol-video--right-aligned {
        grid-row: 3;
        grid-column: 2 / span 3; } }

.miol-text {
  grid-column: 1 / span 2; }
  @media (min-width: 1024px) {
    .miol-text {
      box-sizing: border-box;
      grid-column: 3 / span 2;
      hyphens: auto;
      padding: 2em;
      text-align: justify; } }

@media (min-width: 1024px) {
  .miol-dude {
    grid-row: 2; } }

.miol-dude__image {
  height: auto;
  width: 100%; }

.miol-dude__bgimage {
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 100%; }

.miol-dude__description {
  left: -0.7em;
  top: -1.5em;
  color: white;
  position: relative; }

.miol-dude__name {
  font-family: 'Roboto Condensed';
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.2em 0;
  text-transform: uppercase; }

.miol-dude__seperator {
  left: 0.7em; }

.miol-dude__function {
  left: 0.7em;
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: 300;
  margin: 0.5em 0 0 0;
  position: relative; }

.kapitalism-background {
  background: transparent; }
  @media (min-width: 1024px) {
    .kapitalism-background {
      background-image: url("../assets/img/full_kapitalism.gif");
      background-size: 128px;
      background-repeat: repeat;
      background-position-y: -32px;
      padding: 6em 0; } }

.tpdc-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; }
  @media (min-width: 1024px) {
    .tpdc-grid {
      grid-gap: 6rem 16px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); } }

.tpdc-bgimage__wrapper {
  width: 80%; }

.tpdc-bgimage__content {
  background-position: center;
  background-size: cover;
  grid-column: 1;
  padding-top: 135.23%; }

.tpdc-text {
  grid-column: 1 / span 2; }
  @media (min-width: 1024px) {
    .tpdc-text {
      grid-column: 2 / span 2; } }

.tpdc-video {
  grid-column: 1 / span 2; }
  @media (min-width: 1024px) {
    .tpdc-video {
      grid-column: 2 / span 2; } }
  .tpdc-video__heading {
    margin-bottom: 1em; }
  .tpdc-video__wrapper {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .tpdc-video__wrapper--1x1 {
      padding-top: 100%; }
    .tpdc-video__wrapper--16x9 {
      padding-top: 56.25%; }
  .tpdc-video__iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.navigation {
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(19, 0, 0, 0);
  height: 49px;
  position: fixed;
  transition: background-color 500ms ease, height 500ms ease;
  width: 100%;
  z-index: 999; }
  .navigation--bg-visible {
    background-color: rgba(19, 0, 0, 0.9); }
  .navigation--elapsed {
    background-color: #130000;
    height: 100%; }
  .navigation__link {
    box-sizing: border-box;
    height: 49px;
    opacity: 0;
    padding: 16px;
    transition: opacity 300ms ease;
    width: 49px;
    visibility: hidden; }
    .navigation__link:hover {
      opacity: 0.8; }
    .navigation__link--visible {
      opacity: 1;
      visibility: visible; }
    .navigation__link--menu {
      top: 0;
      left: 0;
      display: inline-block;
      position: absolute; }
      @media (min-width: 1024px) {
        .navigation__link--menu {
          display: none; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .navigation__link--menu {
          display: none; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .navigation__link--logo {
        display: block;
        margin: 0 auto;
        position: relative; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .navigation__link--logo {
        top: 0;
        left: 0;
        display: inline-block;
        position: absolute; } }
    @media (min-width: 1024px) {
      .navigation__link--logo {
        top: 0;
        left: 0;
        display: inline-block;
        position: absolute; } }
    .navigation__link--search {
      top: 0;
      right: 0;
      display: inline-block;
      position: absolute; }
  .navigation__icon {
    height: 17px;
    width: 17px; }

.navlist {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity 200ms ease;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 767px) {
    .navlist {
      margin-top: 2em;
      opacity: 0;
      visibility: hidden;
      position: absolute; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .navlist--elapsed {
      opacity: 1;
      visibility: visible; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .navlist {
      display: flex;
      margin: 16px auto;
      justify-content: space-between;
      width: 300px; } }
  @media (min-width: 1024px) {
    .navlist {
      display: flex;
      margin: 16px auto;
      justify-content: space-between;
      width: 500px; } }
  .navlist__item {
    font-size: 1em;
    line-height: 17px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .navlist__item {
        opacity: 0;
        transform: translateY(-7px);
        transition: opacity 1s, transform 500ms; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .navlist__item--visible {
        opacity: 1;
        transform: translateY(0); } }
  .navlist__link {
    font-size: 1em;
    line-height: 17px;
    text-decoration: none; }
    @media (min-width: 320px) and (max-width: 767px) {
      .navlist__link {
        display: block;
        padding: 10px 16px;
        font-family: 'Roboto Condensed';
        font-size: 2em;
        font-weight: 700;
        line-height: 2rem; } }

.navsearch {
  box-sizing: border-box;
  margin: 2em auto;
  opacity: 0;
  position: relative;
  transition: opacity 200ms ease;
  visibility: hidden; }
  @media (min-width: 320px) and (max-width: 767px) {
    .navsearch {
      padding: 0 16px;
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .navsearch {
      margin-top: 3em;
      width: 300px; } }
  @media (min-width: 1024px) {
    .navsearch {
      margin-top: 5em;
      width: 500px; } }
  .navsearch--elapsed {
    opacity: 1;
    visibility: visible; }
  .navsearch__textinput-wrapper {
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
    height: 30px;
    padding-left: 33px;
    position: relative;
    width: 100%; }
  .navsearch__textinput {
    top: 0;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 21px;
    padding: 0;
    width: 100%; }
  .navsearch__button {
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    transition: opacity 300ms ease; }
    .navsearch__button:hover {
      opacity: 0.8; }
  .navsearch__icon {
    height: 21px;
    width: 21px; }
