<footer class="footer">

  <div class="container">

    <div class="footer-social-media">

        <!-- YouTube -->
        {% include icon-youtube.html %}

        <!-- Facebook -->
        {% include icon-facebook.html %}

        <!-- Instagram -->
        {% include icon-instagram.html %}

        <!-- Snapchat -->
        {% include icon-snapchat.html %}

      </div>

    <img src="https://via.placeholder.com/320x80/362627/FFFFFF?text=Turtle+Insane" alt="Turtle Insane" class="footer-logo">

    <div class="footer-links">

      <div class="footer-links__section">
        <h2 class="nomargin">Hol dir unsere Musik</h2>
        <div class="footer-links__wrapper">
            <p><a href="#" class="footer-links__link">Spotify</a></p>
            <p><a href="#" class="footer-links__link">Apple Music</a></p>
            <p><a href="#" class="footer-links__link">iTunes</a></p>
            <p><a href="#" class="footer-links__link">Google Play Music</a></p>
            <p><a href="#" class="footer-links__link">Amazon</a></p>
        </div>
      </div>

      <div class="footer-links__section">
        <h2 class="nomargin">Weitere Seiten</h2>
        <p><a href="{{ site.url }}/videos/" class="footer-links__link">Videos</a></p>
        <p><a href="{{ site.url }}/music/" class="footer-links__link">Music</a></p>
        <p><a href="{{ site.url }}/gallery/" class="footer-links__link">Gallery</a></p>
        <p><a href="{{ site.url }}/shows/" class="footer-links__link">Shows</a></p>
        <p><a href="{{ site.url }}/news/" class="footer-links__link">News</a></p>
      </div>

      <div class="footer-links__section">
        <h2 class="nomargin">Kontakt</h2>
        <p><a href="mailto:info@voltagearc.com" class="footer-links__link">info@voltagearc.com</a></p>
        <p><a href="#" class="footer-links__link">Buchen</a></p>
      </div>

    </div>

  </div>

<div class="footer-seperator">
  <div class="container">
    <span class="footer-seperator__text">&copy;&nbsp;Voltage Arc {{ 'now' | date: "%Y" }}</span>
    <span class="footer-seperator__text footer-seperator__text--right"><a class="footer-seperator--link" href="#">Impressum</a></span>
  </div>
</div>

</footer>