<footer class="footer">
  <div class="container">
    <div class="footer-social-media">
        <!-- YouTube -->
        {% include icon-youtube.html %}
        <!-- Facebook -->
        {% include icon-facebook.html %}
        <!-- Instagram -->
        {% include icon-instagram.html %}
        <!-- Snapchat -->
        {% include icon-snapchat.html %}
      </div>
      
    <img src="https://via.placeholder.com/320x80?text=Turtle+Insane" alt="Turtle Insane" class="footer-logo">
      
    <div class="footer-links">
      <div class="footer-links__section-one">
        <h3 class="nomargin">Links</h3>
      </div>
    </div>

  </div>

<div class="footer-seperator"></div>

</footer>