.pp-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pp-image {
  position: relative;

  &__file {
    border-radius: 2px;
    display: block;
  }

  @include desktop {
    &:hover>.pp-image__caption {
      opacity: 1;
    }
  }

  &__caption {
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $dark-l1;
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
    padding: 10px 14px;
    position: absolute;
    transition: opacity 300ms ease;
    width: 100%;

    @include desktop {
      opacity: 0;
    }
  }

  &__link {
    display: flex;
    text-decoration: none;

    &>span {
      font-size: 1em;
      line-height: 24px;
      opacity: 0.8;
    }
  }

  &__icon {
    margin-left: auto;
  }
}