/* Dark | Black */

$dark-pr: #130000;
$dark-l1: #2b1a1a;
$dark-l2: #362626;
$dark-l3: #423333;
$dark-l4: #4e4040;

/* Red */

$red-d2: #a31414;
$red-d1: #c31818;
$red-pr: #d91b1b;
$red-l1: #db2727;
$red-l2: #df3d3d;

/* Timing */

$anim-dur: 1s;
$anim-eas: cubic-bezier(0.4, 0.0, 0.2, 1);

/* Footer Icon Sizing */
$footer-icon-size: 46px;
