.bf {
  &-section {
    position: relative;
  }
  &-background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
    position: absolute;
    z-index: -1;

    &__content {
      @supports (filter: blur()) {
        background-image: url(/uploads/break-free-cover-lowres.jpg);
        background-size: cover;
        height: 100%;
        filter: blur(20px) brightness(0.8);
        position: absolute;
        width: 100%;
        transform: scale(1.2);
      }
    }
  }
}