.shows {
  &-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.show {
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;

  &--upcoming {
    background-color: $red-pr;
  }

  &--former {
    background-color: $dark-l1;
  }
  
  &__body {
    padding: 32px 32px 24px 32px;
  }

  &__footer {
    padding: 9px 18px;

    &--upcoming {
      background-color: $red-d1;
    }

    &--former {
      background-color: $dark-l2;
    }
  }

  &__text {
    text-transform: none;
  }

  &__title {
    font-size: 1.4em;
    margin: 0 0 0.5em;
  }

  &__venue {
    font-size: 1.1em;
    margin: 0 0 0.4em;
    opacity: 0.84;
  }

  &__date {
    font-size: 1.1em;
    margin: 0;
    opacity: 0.84;
  }

  &__link {
    display: inline-block;
    border-radius: 3px;
    padding: 7px 14px;
    text-decoration: none;
    transition: background-color 300ms ease;

    &--upcoming {
      &:hover {
        background-color: $red-d2;
      }
    }

    &--former {
      &:hover {
        background-color: $dark-l3;
      }
    }
  }

  &__link-placeholder {
    display: inline-block;
    padding: 7px 14px;
  }
}