<!DOCTYPE html>
{% if page.url contains '/en/' %}
<html lang="en"></html>
{% else %}
<html lang="de-ch">
{% endif %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} &ndash; Example Page </title>
  <link rel="stylesheet" href="{{ baseurl }}/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,500" rel="stylesheet" async>
  <style>.progressive{overflow:hidden;position:relative;background:#efefef}.progressive__img{width:100%;height:100%;-webkit-transform:translateZ(0);transform:translateZ(0)}.progressive--not-loaded{-webkit-filter:blur(30px);filter:blur(30px);-webkit-transform:scale(1.1);transform:scale(1.1)}.progressive--is-loaded{-webkit-filter:blur(20px);filter:blur(20px);-webkit-animation:a .5s both;animation:a .5s both;-webkit-transform:scale(1);transform:scale(1)}@-webkit-keyframes a{0%{-webkit-filter:blur(20px);filter:blur(20px)}to{-webkit-filter:blur(0);filter:blur(0)}}@keyframes a{0%{-webkit-filter:blur(20px);filter:blur(20px)}to{-webkit-filter:blur(0);filter:blur(0)}}</style>
</head>
<body>
<main>
  {% include navigation.html %}

  {{ content }}
</main>
  <script src="/js/bundle.js"></script>
</body>
</html>