<!DOCTYPE html>
{% if page.url contains '/en/' %}
<html lang="en"></html>
{% else %}
<html lang="de-ch">
{% endif %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} &ndash; Example Page </title>
  <link rel="stylesheet" href="/css/styles.css" async>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,500" rel="stylesheet" async>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#130000">
  <meta name="msapplication-TileColor" content="#130000">
  <meta name="theme-color" content="#130000">
</head>
{% if page.url == '/' %}
<body class="index">
{% elsif page.url == '/gallery/' %}
<body class="gallery">
{% else %}
<body>
{% endif %}
<main>
  {% include navigation.html %}

  {{ content }}

  {% include footer.html %}
</main>
  {% if page.url == '/gallery/' %}
  <script src="../tools/lightense.min.js" async></script>
  {% endif %}
  <script src="/js/bundle.js" async></script>
</body>
</html>