.footer {
  background-color: $dark-l1;
  margin: $footer-icon-size 0 0 0;
  padding: ($footer-icon-size / 2) 0 0 0;
  width: 100%;

  &-social-media {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;

    @include tablet {
      padding: 0;
      width: 300px;
    }

    @include desktop {
      padding: 0;
      width: 780px;
    }

    &__link {
      border-radius: 50%;
      display: block;
      height: $footer-icon-size;
      overflow: hidden;
      text-decoration: none;
      width: $footer-icon-size;
      margin-right: ($footer-icon-size / 2);
    }

    &__link:hover svg g .footer-social-media__icon-border {
      fill: rgba(255, 255, 255, 0.8)
    }

    &__icon {
      pointer-events: none;
    }

    &__icon-border {
      transition: fill 300ms $anim-eas;
    }
  }

  &-links {
    box-sizing: border-box;
    margin: 36px auto;
    padding: 0 16px;

    @include tablet {
      padding: 0;
      width: 300px;
    }

    @include desktop {
      padding: 0;
      width: 780px;
    }
  }

  &-seperator {
    height: 24px;
    width: 100%;
    background-color: $dark-l2;
  }
}