.footer {
  background-color: $dark-l1;
  margin: $footer-icon-size 0 0 0;
  padding: ($footer-icon-size / 2) 0 0 0;
  width: 100%;

  &-social-media {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;

     @include tablet {
      padding: 0;
    }

    @include desktop {
      padding: 0;
    }

    &__link {
      border-radius: 50%;
      display: block;
      height: $footer-icon-size;
      overflow: hidden;
      text-decoration: none;
      width: $footer-icon-size;
      margin-right: ($footer-icon-size / 2);
    }

    &__link:hover svg g .footer-social-media__icon-border {
      fill: rgba(255, 255, 255, 0.8)
    }

    &__icon {
      pointer-events: none;
    }

    &__icon-border {
      transition: fill 300ms $anim-eas;
    }
  }
  
  &-logo {
    margin-top: ($footer-icon-size / 2);
    width: 200px;

    @include phone {
      padding-left: 16px;
    }
  }

  &-links {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: ($footer-icon-size / 2);
    padding: 0 16px;

    @supports (display: grid) {
      display: grid;
      grid-gap: 16px;

      grid-template: 1fr;

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include tablet {
      padding: 0;
    }

    @include desktop {
      padding: 0;
    }

    &__link {
      margin: 0.5em 0;
      opacity: $opacity-secondary;
      text-decoration: none;
    }
  }

  &-seperator {
    background-color: $dark-l2;
    box-sizing: border-box;
    margin-top: ($footer-icon-size / 4);
    padding: ($footer-icon-size / 6) 0;
    width: 100%;

    @include phone {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__text {
      font-size: 0.85em;
      opacity: $opacity-secondary;

      &--right {
        float: right;
      }
    }
  }
}